.projectsContent {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projectsItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
}