.skillsBlock {
    min-height: 100vh;
    background-color: #ffe9bd;
}
.skillsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}